<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/account.css">
    <title>Skylandle</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <header>Account</header>
        </div>
        <div class="signin">
            <form action="account/signin" method="get">
                <button class="signinbutton" type="submit" action>Login</button>
            </form>
        </div>
        <div class="signup">
            <form action="account/signup" method="get">
                <button class="signupbutton" type="submit" action>sign up</button>
            </form>
        </div>
    </div>
</body>
</html>