<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/acount.css">
    <title>Skylandle</title>
</head>
<body>
    <div class="header">
        <header>Acounts</header>
    </div>
    <div class="sign-in">
        <form action="acount/sign-in" method="get">
            <button type="submit" action>sign-in</button>
        </form>
    </div>
    <div class="sign-up">
        <form action="acount/sign-up" method="get">
            <button type="submit" action>sign-up</button>
        </form>
    </div>
</body>
</html>